<div class="container">
    <div class="row border p-1 mb-4">
        <h3>Subscribed List:</h3>
        <hr />
        <div class="col-3">
            <button class="btn btn-outline-danger" id="btn_gry_subbed" style="display:none;">Gryffindor</button>
        </div>
        <div class="col-3">
            <button class="btn btn-outline-success" id="btn_sly_subbed" style="display:none;">Slytherin</button>
        </div>
        <div class="col-3">
            <button class="btn btn-outline-warning" id="btn_huf_subbed" style="display:none;">Hufflepuff</button>
        </div>
        <div class="col-3">
            <button class="btn btn-outline-primary" id="btn_rav_subbed" style="display:none;">Ravenclaw</button>
        </div>
    </div>

    <div class="row border p-1 mb-4">
        <h3>Subscribe</h3>
        <hr />
        <div class="col-3">
            <button class="btn btn-danger" id="btn_gry_sub">Gryffindor</button>
        </div>
        <div class="col-3">
            <button class="btn btn-success" id="btn_sly_sub">Slytherin</button>
        </div>
        <div class="col-3">
            <button class="btn btn-warning" id="btn_huf_sub">Hufflepuff</button>
        </div>
        <div class="col-3">
            <button class="btn btn-primary" id="btn_rav_sub">Ravenclaw</button>
        </div>
    </div>


    <div class="row border p-1 mb-4">
        <h3>UnSubscribe</h3>
        <hr />
        <div class="col-3">
            <button class="btn btn-danger" style="display:none;" id="btn_gry_unsub">Gryffindor</button>
        </div>
        <div class="col-3">
            <button class="btn btn-success" style="display:none;" id="btn_sly_unsub">Slytherin</button>
        </div>
        <div class="col-3">
            <button class="btn btn-warning" style="display:none;" id="btn_huf_unsub">Hufflepuff</button>
        </div>
        <div class="col-3">
            <button class="btn btn-primary" style="display:none;" id="btn_rav_unsub">Ravenclaw</button>
        </div>
    </div>

    <div class="row border p-1 mb-4">
        <h3>Trigger Notification</h3>
        <hr />
        <div class="col-3">
            <button class="btn btn-danger" id="btn_gry_notification">Gryffindor</button>
        </div>
        <div class="col-3">
            <button class="btn btn-success" id="btn_sly_notification">Slytherin</button>
        </div>
        <div class="col-3">
            <button class="btn btn-warning" id="btn_huf_notification">Hufflepuff</button>
        </div>
        <div class="col-3">
            <button class="btn btn-primary" id="btn_rav_notification">Ravenclaw</button>
        </div>
    </div>

</div>


<script src="~/js/signalr.js"></script>
<script src="~/js/houseGroup.js"></script>